@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "youtubeSANS";
    src: url('./fonts/youtube_sans/light.ttf');
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #121212;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }